:root {
  --dark-cyan: #0E8784;
  --dark-grey-blue: #333D4B;
  --pale-orange: #FDD6BA;
  --light-grey-bg: #FEFCF7;
  --grey: #83888F;
  --main-font: "Barlow", "Arial", sans-serif;
  --heading-font: "Fraunces", "Times New Roman", serif;
}

/* FONTS */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* REUSABLE */
.btn{
  padding: 15px 30px;
  border-radius: 6px;
  background-color: var(--dark-grey-blue);
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: var(--light-grey-bg);
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}


.btn--primary {
  background-color: var(--dark-cyan);
}

.btn--primary:hover{
  background-color: #66D2CF;
}

.btn--primary:active {
  opacity: 0.6;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: #fff;
  color: var(--dark-grey-blue);
  font-size: 16px;
  line-height: 26px;
}

img {
  max-width: 100%;
  height: auto;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}



/* SITE-HEADER */



.site-header {

}

.container {}

.site-header__container {}

.logo {}

.logo__img {
  display: block;
}


.sitenav {}

.sitenav-toggler {
  cursor: pointer;
  display: none;
}

.sitenav__list{
  display: none;
}

.sitenav__item {}

.sitenav__link {}




/* MOBILE NAV SLIDE */

.mb-nav {
  padding: 38px 0 35px;
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateY(-1000px);
  background-image: linear-gradient(#FEFCF7 55%, rgba(254, 252, 247, 0.504981) 100% );
  transition: transform 0.5s ease;
}

.mb-nav--active{
  transform: translateY(0px);
  transition: transform 0.5s ease;

}

.mb-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-nav__logo {}

.mb-nav__logo-img{
  width: 163px;
  height: 18px;
  display: block;
}

.mb-nav__cancel-btn {
  cursor: pointer;
  border: none;
  width: 14px;
  height: 13px;
  background-color: transparent;
  background-image: url("../img/cancel-icon.svg");
}

.mb-nav__box {
  padding-top: 35px;
}

.mb-nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.mb-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mb-nav__link {
  color: var(--dark-grey-blue);
  font-family: var(--heading-font);
  text-decoration: none;
}


@media only screen and (min-width: 375px){

  /* 375PX MOBILE VERSION SITE HEADER */
  .container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .site-header{
    padding: 35px 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-grey-bg);

  }

  .site-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo__img {
    width: 163px;
    height: 18px;
    display: block;
  }

  .sitenav-toggler{
    display: block;
  }

  .sitenav__list{
    display: none;
  }

  .sitenav-toggler{
    width: 16px;
    height: 15px;
    border: none;
    background-color: transparent;
    background-image: url("../img/navbar-icon.svg");
    background-repeat: no-repeat;
  }

  /* HERO SECTION */
  .hero {
    padding-bottom: 60px;
    background-color: var(--light-grey-bg);
  }



  .hero__bg{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/mobile-index-hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
  }
  .hero__inner {
    width: 327px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .hero__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--heading-font);
    color: var(--light-grey-bg);
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

  }

  .hero__info {
    margin: 0 auto 40px;
    width: 279px;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: var(--light-grey-bg);
    opacity: 0.8;
  }

  /* INDEX-COLLECTION  */
  .index-collection {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .index-collection__container {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 900;
    font-size: 40px;
    line-height: 72px;
  }

  .index-collection__heading {
    font-weight: 900;
    font-size: 40px;
    line-height: 72px;
    text-align: center;
    color: #83888F;
  }

  .index-collection__list {
    margin: 0;
    padding: 0;
  }

  .index-collection__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }


  .collection-product__img {
    width: 200px;
    height: 150px;
    margin-bottom: 24px;

  }

  .collection-product__inner {
    text-align: center;
    width: 282px;

  }

  .collection-product__heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--heading-font);
  }

  .collection-product__info {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
  }

  /* INDEX-BENEFITS-SECTION */
  .benefits {
    padding-top: 60px;
    padding-bottom: 690px;
  }

  .benefits__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .benefits__wrapper-top{
    padding-top: 64px;
    background-color: var(--dark-grey-blue);
    color: var(--light-grey-bg);
    border-radius: 10px 10px 0 0;
    padding-bottom: 28px;
  }

  .benefits__inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 280px;
  }

  .benefits__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
  }

  .benefits__info {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--light-grey-bg);

  }

  .benefits__wrapper-center{
    padding-top: 36px;
    height: 630px;
    background-color: #293039;
    color: var(--light-grey-bg);
    border-radius: 0 0 10px 10px ;
  }



  .benefits__list{
    margin: 0;
    padding: 0;
  }

  .benefits__item {
    padding: 70px 12px 48px;
    background-color: var(--dark-cyan);
    width: 280px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefit {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefit:not(:last-child){
    margin-bottom: 24px;
  }

  .benefit::before{
    content: '';
    display: block;
    width: 72px;
    height: 72px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
  }
  .benefit--coffee::before {
    background-image: url("../img/coffe-icon.png");
  }

  .benefit--prize::before{
    background-image: url("../img/prize-icon.png");
  }

  .benefit--delivery::before{
    background-image: url("../img/icon-delivery.png");
  }

  .benefit__inner{
    width: 212px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .benefit__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }

  .benefit__info {
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
  }

  /* WORKING-PROCESS */
  .working-process {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .working-process__container {}

  .working-process__heading {
    margin-top: 0;
    margin-bottom: 80px;
    font-family: var(--heading-font);
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: var(--grey);
  }

  .working-process__list {
    list-style: none;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
  }

  .working-process__item:not(:last-child){
    margin-bottom: 56px;
  }

  .index-step {

  }

  .index-step__order {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    color: #FDD6BA;

  }

  .index-step__heading {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--dark-grey-blue);
    font-family: var(--heading-font);
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
  }

  .index-step__info {
    margin: 0;
    text-align: center;
  }

  .working-process__link-box{
    text-align: center;
  }


  /* FOOTER */

  .footer {
    padding-top: 60px;
    padding-bottom: 72px;
  }

  .footer__wrapper {
    padding: 55px;
    background-color: #2C343E;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foote-logo {
    margin-bottom: 48px;
  }

  .footer-logo__img {
    width: 217px;
    height: 24px;
    display: block;
  }

  .footer__list {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .footer__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey);
    letter-spacing: 0.9px;
  }

  .sc {}

  .sc-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .sc__item:not(:last-child) {
    margin-right: 24px;
  }

  .sc__link {}

  .sc-facebook{
    width: 24px;
    height: 24px;
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    display: inline-block;
  }

  .sc-twitter{
    width: 24px;
    height: 20px;
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    display: inline-block;
  }

  .sc-insta {
    width: 24px;
    height: 24px;
    background-image: url("../img/insta.svg");
    background-repeat: no-repeat;
    display: inline-block;
  }
}
